<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" href="/tabs/history">
      <ion-icon aria-hidden="true" name="timer-outline"></ion-icon>
      <ion-label>Riwayat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="outlet" href="/tabs.outlet">
      <ion-icon aria-hidden="true" name="business-outline"></ion-icon>
      <ion-label>Oulet</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account" href="/tabs.outlet">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>AKun</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>